{% extends 'base.html' %}

{%block conteudo %}
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dolores eveniet culpa saepe reprehenderit id est quasi recusandae fugit incidunt rerum, perspiciatis, dolorem eaque voluptatibus dignissimos quidem tempore velit. Ut? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem qui nobis reiciendis magnam, praesentium dolorem omnis obcaecati incidunt ipsam quidem aperiam libero commodi recusandae molestiae. Illum mollitia explicabo alias sed. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia reprehenderit commodi, assumenda odit doloremque repellat nesciunt! Odio natus aperiam possimus obcaecati, numquam quo voluptate deleniti, repellat, assumenda autem harum rem.</h2>
{%endblock %}